* { margin:0; padding:0; color:white; }
body {
    /*font-family:"Helvetica Neue", "Calibri Light", Roboto, sans-serif;*/
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale; 
    font-size:90%; background-color:#222; }

#container { margin:0 auto; width:1150px; max-width:100%; }

header { height:7em; width:100%; }

/* Logo */

#logo { margin-left:11em; margin-top: 1.5em; padding: 2.0em 0 0 2.0em;
    background-image:url("images/logo_background.png");
    background-repeat:no-repeat; background-origin:border-box; 
    float:left; }
#logo h1 { font-weight:normal; margin:0; line-height:100%; }
#logo a  { color:white; text-decoration:none; }
#logo a:hover { text-decoration:underline; }
#logo h3 { font-weight:normal; margin:0; line-height:100%; }

/* Group name */

#groupname { font-weight:normal; text-align:center; margin-top:2em; }
#groupname a { color:white; text-decoration:none; }
#groupname a:hover { text-decoration:underline; }

/* Nav */

nav { float:right; margin-top:2em; margin-right:3em; }
nav a { color:white; margin-left:1em; }
.clearboth { clear:both; }

/* Top row */

#toprow { margin-top:2em; height:2em; }
.toplive    { font-size:0.75em; width:6.66em; text-align:right; }
.topviewers { font-size:0.75em; width:6.66em; text-align:right; }
.topchannel { font-size:0.75em; width:9.33em; margin-left:4em; }
.toptitle   { font-size:0.75em; margin-left:4em; }

#filter { float:right; margin-left:3em; }
#filter select { width:7em; }
#search { margin-left:3em; float:right; }
#searchbutton { width:1em; height:1em; }
#searchclearbutton { display:none; }
input[type=text] { background-color:#222; color:white; }
select { background-color:#222; color:white; }

#darkmode { float:right; }
#darkmode a:hover { text-decoration:underline; cursor:pointer; }

/* Main list */

ul { line-height:2em; list-style:none; padding-left:0; margin-bottom:2em; }

.day { border-bottom:1px solid #55C0EB; margin: 1em 0 0.6em; line-height:100%; }
.day span { margin-left:13em; width:10em; background-color:#55C0EB;
    color:black; padding:0.2em 0.4em 0.1em 0.4em;
    border-radius:0.4em 0.4em 0 0; }

.cell { display:inline-block; text-overflow:ellipsis; white-space:nowrap; 
    overflow:hidden; vertical-align:top; } /* Heck CSS */

.live    { width:5em; color:#CA0321; text-align:center; }
.viewers { width:5em; text-align:right; }
.channel { width:7em; margin-left:3em; }
.length  { width:5em; text-align:right; margin-left:2em; }
.title   { margin-left:3em; width:34em; }

li a { display:inline-block; }
li a:hover { background-color:#333; cursor:pointer; }
.selectedstream { background-color:#555; }
.selectedstream:hover { background-color:#555; }

/* Stream details */

.streamdetails { margin-left:5em; display:flex; width:58em; } /* Height is set by JS */
.streamdetails .novodlink { background-color:red; }
.streamdetails a { display:inline-block; overflow:hidden;
    background-color:white; display:flex; object-fit:cover; }
.streamdetails img { height:5em; width:auto; display:block; overflow:hidden;
    object-fit:cover; }
.streamdetails img:hover { opacity:0.7; }
.detailslength { width:5em; text-align:center; margin-top:1.5em; }

#magnifier { position:absolute; visibility:hidden; z-index:1;
             background-size:contain; }
    #magnifier img { display:block; width:24em; height:13.5em; }

/* About */

p { margin-top:1em; }
h2 { margin-top:1em; }
#about { margin-left:13em; width:25em; margin-bottom:2em; }

