<!DOCTYPE html>
<html>
  <head>
    <title>Haystack</title>
    <link rel="stylesheet" type="text/css" href="{{.AppBaseUrl}}/style.css">
    <link rel="shortcut icon" type="image/png" href="{{.AppBaseUrl}}/images/favicon.png"/>
  </head>
  <body>
    <div id="container">

      <header>
        <div id="logo">
          <h1><a href="{{.AppBaseUrl}}">Haystack</a></h1>
          <h3>Never miss a missed stream.</h3>
        </div>

        <nav>
          <a href="{{.AppBaseUrl}}/about">About</a>
          <div class="clearboth"></div>
        </nav>
      </header>

      Select a group below.<br>
{{range .Links}}
      <a href="{{.Link}}">{{.Name}}</a><br>
{{end}}

    </div>
  </body>
</html>
