<!DOCTYPE html>
<html>
  <head>
    <title>Haystack - {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="{{.AppBaseUrl}}/style.css">
    <!--<script type="text/javascript">
      haystackBaseUrl = {{.AppBaseUrl}};
    </script>
    <script type="text/javascript" src="{{.AppBaseUrl}}/js/scrubber.js"></script>
    <script type="text/javascript" src="{{.AppBaseUrl}}/js/magnify.js"></script>-->
  </head>
  <body>
    <div id="wrapper">
      <h1>Haystack</h1>
      <h2>Never miss a stream</h2>
      <h2>{{.Title}}</h2>

      <!--<div id="scrubber"></div>
      <div id="magnifier"><img></div>-->

      <ul>
  {{range .PanelGroups}}
        <li>{{.Title}}</li>
  {{range .StreamPanels}}
        <li>
          <a>
            <div class="live cell">{{if .Live}}Live{{end}}</div><div class="viewers cell">{{.Viewers}}</div><div class="channel cell">{{.ChannelDisplayName}}</div><div class="title cell">{{.Title}}</div>
          </a>
        </li>
  {{end}}
  {{end}}
      </ul>
    </div>
  </body>
</html>
