<!DOCTYPE html>
<html>
  <head>
    <title>Haystack - {{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="{{.AppBaseUrl}}/style.css">
    <link rel="shortcut icon" type="image/png" href="{{.AppBaseUrl}}/images/favicon.png"/>
  </head>
  <body>
    <div id="magnifier"><img></div>

    <div id="container">
      <header>
        <div id="logo">
          <h1><a href="{{.AppBaseUrl}}">Haystack</a></h1>
          <h3>Never miss a missed stream.</h3>
        </div>

        <nav>
          <a href="{{.AppBaseUrl}}">Groups</a>
          <a href="{{.AppBaseUrl}}/about">About</a>
          <div class="clearboth"></div>
        </nav>
      </header>

      <h2 id="groupname">
        <a href="">{{.Title}}</a>
      </h2>

      <div id="toprow">
        <div class="toplive cell"></div><div class="topviewers cell">Avg. Viewers</div><div class="topchannel cell"></div><div class="toptitle cell"></div>
        <div id="search">
          Search:
          <input id="searchtext" type="text" onkeypress="searchKeyPressed(event);" autocomplete="off"></input>
          <input id="searchbutton" type="image" src="{{.AppBaseUrl}}/images/magnifying-glass-4x.png" onClick="search();"></input>
          <input id="searchclearbutton" type="button" value="X" onClick="clearSearch();"></input>
        </div>
        <div id="filter">
          Filter:
          <select id="filterSelect" onChange="updateFilter();" autocomplete="off">
            <option value="top10">Top 10</option>
            <option value="all" selected="selected">All</option>
          </select>
        </div>
      </div>

      <ul id="streamList">
{{range .PanelGroups}}
        <li class="day"><span>{{.Title}}</span></li>
{{range .StreamPanels}}
        <li>
          <!-- Whitespace removed because spaces were appearing between cells -->
          {{if .Live}}<a href="https://go.twitch.tv/{{.ChannelName}}"><div class="live cell">&#9679; Live</div></a>{{else}}<div class="live cell"></div>{{end}}<a onClick="streamClicked(this);" data-streamid="{{.StreamID}}" data-dirty="1" {{if .FilterTop10}}data-filtertop10="1" {{end}}title="{{.Title}}"><div class="viewers cell">{{.Viewers}}</div><div class="channel cell">{{.ChannelDisplayName}}</div><div class="title cell">{{.Title}}</div><div class="length cell">{{.Length}}</div></a>
        </li>
{{end}}
{{end}}
      </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      haystackBaseUrl = {{.AppBaseUrl}};
    </script>
    <script type="text/javascript" src="{{.AppBaseUrl}}/js/filterpage.js"></script>
    <script type="text/javascript" src="{{.AppBaseUrl}}/js/magnify.js"></script>
  </body>
</html>
